  <div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="https://www.marinha.mil.br/chm/"><i class="fa-solid fa-anchor"></i></a>
  </div>
  <div class="footer-about-us">
  <%= link_to 'Programa Nacional de Boias ', about_path %>
  </div>
