<div class="container picture-container">
  <img class="d-flex justify-content-center about-picture" src="https://res.cloudinary.com/dwzrjmdwm/image/upload/v1658755901/Boias%20Brasil/logo_buke07.png">
  <div class= "about-text mb-5"><h4>PNBOIA</h4>
      <h6>O PNBOIA foi implementado a partir de dois subprogramas complementares de
          boias, em face da extensa área de responsabilidade do Brasil, de acordo com a Organização
          Meteorológica Mundial (OMM), para efeito de monitoramento e previsão do tempo, assim
          como os fenômenos meteorológicos e oceanográficos e dos regimes climáticos observados
          no Brasil:</p>
          <p>a) Boias de deriva (sistema de coleta de dados lagrangeano): uma rede de
          derivadores rastreados por satélite, que deverão cobrir grande parte do Atlântico Sul e
          Tropical. Parâmetros coletados: temperatura da superfície do mar, corrente superficial,
          pressão atmosférica e vento na superfície do mar.</p>
          <p>b) Boias de fundeio (sistema de coleta de dados eulereano): uma rede de
          boias de fundeio fixas rastreados por satélite, que deverão cobrir grande parte do Atlântico
          Sul e Tropical, com o objetivo de monitorar fenômenos atmosféricos, tais como linhas de
          instabilidade, ciclones tropicais, ondas de Leste, zonas frontais, ciclones extra-tropicais,
          além de dados oceanográficos sobre correntes, ondas de Kelvin e Rossby equatoriais e
          distribuição de temperatura e salinidade. Parâmetros coletados pelos sensores das boias:
          temperatura da superfície do mar, corrente superficial, pressão atmosférica, direção e
          intensidade do vento de superfície, temperatura do ar, umidade relativa do ar, radiação solar,
          perfil vertical de temperatura do mar, condutividade (salinidade) e direção, altura e período
          das ondas.</h6>
  </div>
</div>
