<div class="new-container">
  <div class="table-new">
    <h2>Programação</h2>
    <div class="table-content">
        <h3>Dia 1</h3>
        <ul class="list-timeline list-timeline-primary">
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:00 - 09:10</span> - Abertura - CMG Costa Junior (CHM)</p>
          </li>
          <div>
            <h4>SESSÃO 1: Programa Nacional de Boias e REMO Observacional</h4>
          </div>
            <ul class="list-timeline list-timeline-primary">
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:10-09:30</span> - “PROGRAMA NACIONAL DE BOIAS (PNBOIA) E REMO OBSERVACIONAL (REMObs): AVANÇOS E PERSPECTIVAS” - Ten. Tobias Ferreira (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:30-09:50</span> - “GESTÃO OPERACIONAL DOS PROGRAMAS”
            - Ten. Tobias Ferreira (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-4">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:50-10:10</span> - “CONTROLE DE QUALIDADE DE DADOS”
              - Felippe Galdino (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:10-10:30</span> - “SENSORES E DESENVOLVIMENTO DE TECNOLOGIAS”
                - Natália (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-6">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:30-10:50</span> - “SISTEMAS E SOFTWARES UTILIZADOS PELO PNBOIA/REMOBS”
                - Felippe Galdino (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:50-11:10</span> - Coffee Break</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">11:10-11:30</span> - “LINHAS DE FUNDEIO”
                - Dsc. Fábio Nascimento (LIOc/COPPE)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-6">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">11:30-11:50</span> - “DESAFIOS EM SISTEMAS DE FUNDEIOS EM ÁGUAS RASAS – PROGRAMA SiMCosta”
                - Msc. Ella Soares Pereira (SiMCosta)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">11:50-12:10</span> - “DESAFIOS EM SISTEMAS DE FUNDEIOS EM ÁGUAS RASAS – PROGRAMA SiMCosta”
                Msc. Ella Soares Pereira (SiMCosta)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:10-13:20</span> - Almoço</p>
          </li>
          <div>
            <h4>SESSÃO 2: Pesquisas em Oceanografia Física</h4>
          </div>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:20-13:45</span> - “MONIPORT AMBIDADOS: EXPERIÊNCIA COM BOIAS E LINHAS DE FUNDEIO”
                - MONIPORT AMBIDADOS</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-6">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:45-14:10</span> - “AMARRAS PRÓPRIAS PARA FUNDEIO DE BOIAS - COFORJA”
                - Sr. Fernando Valbert (COFORJA)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">14:10-14:35</span> - “APPLICATION OF INTERNATIONAL MOORING STANDARDS TO OCEANOGRAPHIC MOORING DESIGN AND ANALYSIS”
                - Sr. Ryan Nicoll (DSA) e Sr. Peter Jansen (CSIRO Australia)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">14:35-15:00</span> - “APPLICATION OF INTERNATIONAL MOORING STANDARDS TO OCEANOGRAPHIC MOORING DESIGN AND ANALYSIS”
              - Sr. Ryan Nicoll (DSA) e Sr. Peter Jansen (CSIRO Australia)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:00-15:20</span> - Coffee Break</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:20-15:45</span> - “APPLICATION OF INTERNATIONAL MOORING STANDARDS TO OCEANOGRAPHIC MOORING DESIGN AND ANALYSIS”
                - Sr. Ryan Nicoll (DSA) e Sr. Peter Jansen (CSIRO Australia)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:45-16:10</span> - “APPLICATION OF INTERNATIONAL MOORING STANDARDS TO OCEANOGRAPHIC MOORING DESIGN AND ANALYSIS”
              - Sr. Ryan Nicoll (DSA) e Sr. Peter Jansen (CSIRO Australia)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">16:10-16:35</span> - “APPLICATION OF INTERNATIONAL MOORING STANDARDS TO OCEANOGRAPHIC MOORING DESIGN AND ANALYSIS”
              - Sr. Ryan Nicoll (DSA) e Sr. Peter Jansen (CSIRO Australia)</p>
          </li>
        </ul>
      </div>
      <div class="table-content">
        <h3>Dia 2</h3>
        <ul class="list-timeline list-timeline-primary">
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:00 - 09:10</span> - Abertura - CMG Costa Junior (CHM)</p>
          </li>
          <div>
            <h4>SESSÃO 2: Pesquisas em Oceanografia Física</h4>
          </div>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:10-09:30</span> - “PROGRAMA NACIONAL DE BOIAS (PNBOIA) E REMO OBSERVACIONAL (REMObs): AVANÇOS E PERSPECTIVAS” - Ten. Tobias Ferreira (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:30-09:50</span> - “GESTÃO OPERACIONAL DOS PROGRAMAS”
            - Ten. Tobias Ferreira (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-4">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:50-10:10</span> - “CONTROLE DE QUALIDADE DE DADOS”
              - Felippe Galdino (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:10-10:30</span> - “SENSORES E DESENVOLVIMENTO DE TECNOLOGIAS”
                - Natália (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-6">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:30-10:50</span> - “SISTEMAS E SOFTWARES UTILIZADOS PELO PNBOIA/REMOBS”
                - Felippe Galdino (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:50-11:10</span> - Coffee Break</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">11:10-11:35</span> - “LINHAS DE FUNDEIO”
                - Dsc. Fábio Nascimento (LIOc/COPPE)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-6">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">11:35-12:00</span> - “DESAFIOS EM SISTEMAS DE FUNDEIOS EM ÁGUAS RASAS – PROGRAMA SiMCosta”
                - Msc. Ella Soares Pereira (SiMCosta)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:00-13:00</span> - Almoço</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:00-13:25</span> - “PROGRAMA NACIONAL DE BOIAS (PNBOIA) E REMO OBSERVACIONAL (REMObs): AVANÇOS E PERSPECTIVAS” - Ten. Tobias Ferreira (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:25-13:50</span> - “GESTÃO OPERACIONAL DOS PROGRAMAS”
            - Ten. Tobias Ferreira (CHM)</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-4">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:50-14:15</span> - “CONTROLE DE QUALIDADE DE DADOS”
              - Felippe Galdino (CHM)</p>
          </li>
          <div>
            <h4>SESSÃO 3: Fabricantes e Sistemas</h4>
          </div>
          </li>
          <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">14:40-14:50</span> - Coffee Break</p>
          </li>
          <div>
            <h4>SESSÃO 4: Encerramento</h4>
          </div>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">14:50-15:15</span> - “ESTUDO DA VIABILIDADE DE LINHA DE FUNDEIO PARA ÁGUAS ULTRA PROFUNDAS”
            - Dsc André Mendes (CENPES/PETROBRAS)</p>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-6">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:15-16:10</span> - Mesa Redonda: “COMO UNIR FORÇAS PARA EVOLUIR?”</p>
          </li>
          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-2-item-2">
            <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">16:10-16:20</span> - Encerramento
            - Ten. Tobias Ferreira (CHM)</p>
          </li>
        </ul>
      </div>
  </div>
</div>
