<div class="new-container">
  <div class="table-new">
    <h2>Programação</h2>
    <div class="table-content">
      <div>
        <h3>Dia 1</h3>
      </div>
      <ul>
        <li>08:40-09:00		Chegada dos Participantes</li>
        <li>09:00-09:10		Abertura CMG Costa Junior (CHM)</li>
      </ul>
      <div>
        <h4>SESSÃO 1: Programa Nacional de Boias e REMO Observacional</h4>
      </div>
      <ul>
        <li>09:10-09:30	Palestra: “PROGRAMA NACIONAL DE BOIAS (PNBOIA) E REMO OBSERVACIONAL (REMObs): AVANÇOS E PERSPECTIVAS” Ten. Tobias Ferreira (CHM)<li>
        <li>09:30-09:50	Palestra: “GESTÃO OPERACIONAL DOS PROGRAMAS”
                    Ten. Tobias Ferreira (CHM)<li>
        <li>09:50-10:10	Palestra: “CONTROLE DE QUALIDADE DE DADOS”
                    Felippe Galdino (CHM)<li>
        <li>10:10-10:30	Palestra: “SENSORES E DESENVOLVIMENTO DE TECNOLOGIAS”
                    Natália / Michelle (CHM)<li>
        <li>10:30-10:50	Palestra: “SISTEMAS E SOFTWARES UTILIZADOS PELO PNBOIA/REMOBS”
                    Felippe Galdino (CHM)<li>
        <li>10:50-11:10		Coffee Break<li>
        <li>11:10-11:30	Palestra: “LINHAS DE FUNDEIO”
                    Dsc. Fábio Nascimento (LIOc/COPPE)<li>
        <li>11:30-11:50	Palestra: “DESAFIOS EM SISTEMAS DE FUNDEIOS EM ÁGUAS RASAS – PROGRAMA SiMCosta”
                    Msc. Ella Soares Pereira (SiMCosta)<li>
        <li>11:50-12:10	Palestra: “DESAFIOS EM SISTEMAS DE FUNDEIOS EM ÁGUAS RASAS – PROGRAMA SiMCosta”
                    Msc. Ella Soares Pereira (SiMCosta)<li>
        <li>12:10-13:20		Almoço<li>
      </ul>
      <div>
        <h4>SESSÃO 2: Pesquisas em Oceanografia Física</h4>
      </div>
      <ul>
        <li>13:20-13:45	Palestra: “MONIPORT AMBIDADOS – EXPERIÊNCIA COM BOIAS E LINHAS DE FUNDEIO”
                    MONIPORT AMBIDADOS<li>
        <li>13:45-14:10	Palestra: “AMARRAS PRÓPRIAS PARA FUNDEIO DE BOIAS - COFORJA”
                    Sr. Fernando Valbert (COFORJA)<li>
        <li>14:10-14:35	Palestra: “APPLICATION OF INTERNATIONAL MOORING STANDARDS TO OCEANOGRAPHIC MOORING DESIGN AND ANALYSIS”
                    Sr. Ryan Nicoll (DSA) e Sr. Peter Jansen (CSIRO Australia)<li>
        <li>14:35-15:00	Palestra: “APPLICATION OF INTERNATIONAL MOORING STANDARDS TO OCEANOGRAPHIC MOORING DESIGN AND ANALYSIS”
            Sr. Ryan Nicoll (DSA) e Sr. Peter Jansen (CSIRO Australia)<li>
        <li>15:00-15:20		Coffee Break<li>
        <li>15:20-15:45	Palestra: “APPLICATION OF INTERNATIONAL MOORING STANDARDS TO OCEANOGRAPHIC MOORING DESIGN AND ANALYSIS”
            Sr. Ryan Nicoll (DSA) e Sr. Peter Jansen (CSIRO Australia)<li>
        <li>15:45-16:10	Palestra: “APPLICATION OF INTERNATIONAL MOORING STANDARDS TO OCEANOGRAPHIC MOORING DESIGN AND ANALYSIS”
            Sr. Ryan Nicoll (DSA) e Sr. Peter Jansen (CSIRO Australia)<li>
        <li>16:10-16:35	Palestra: “APPLICATION OF INTERNATIONAL MOORING STANDARDS TO OCEANOGRAPHIC MOORING DESIGN AND ANALYSIS”
            Sr. Ryan Nicoll (DSA) e Sr. Peter Jansen (CSIRO Australia)<li>
      <div>
        <h3>Dia 2</h3>
      </div>
        <li>08:30-09:00		Chegada dos Participantes</li>
        <li>09:00-09:10		Abertura
                    CMG Costa Junior (CHM)</li>
      <div>
        <h4>SESSÃO 2: Pesquisas em Oceanografia Física</h4>
      </div>
        <li>09:10-09:35	Palestra: “PROGRAMA NACIONAL DE BOIAS (PNBOIA) E REMO OBSERVACIONAL (REMObs): AVANÇOS E PERSPECTIVAS”
                    Ten. Tobias Ferreira (CHM)</li>
        <li>09:35-10:00	Palestra: “GESTÃO OPERACIONAL DOS PROGRAMAS”
                    Ten. Tobias Ferreira (CHM)</li>
        <li>10:00-10:25	Palestra: “CONTROLE DE QUALIDADE DE DADOS”
                    Felippe Galdino (CHM)</li>
        <li>10:25-10:50	Palestra: “SENSORES E DESENVOLVIMENTO DE TECNOLOGIAS”
                    Natália / Michelle (CHM)</li>
        <li>10:50-11:10		Coffee Break</li>
        <li>11:10-11:35	Palestra: “LINHAS DE FUNDEIO”
                    Dsc. Fábio Nascimento (LIOc/COPPE)</li>
        <li>11:35-12:00	Palestra: “DESAFIOS EM SISTEMAS DE FUNDEIOS EM ÁGUAS RASAS – PROGRAMA SiMCosta”
                    Msc. Ella Soares Pereira (SiMCosta)</li>        <li>12:00-13:00		Almoço</li>
        <li>13:00-13:25	Palestra: “PROGRAMA NACIONAL DE BOIAS (PNBOIA) E REMO OBSERVACIONAL (REMObs): AVANÇOS E PERSPECTIVAS”
                    Ten. Tobias Ferreira (CHM)</li>
        <li>13:25-13:50	Palestra: “GESTÃO OPERACIONAL DOS PROGRAMAS”
                    Ten. Tobias Ferreira (CHM)</li>
        <li>14:15-14:40	Palestra: “CONTROLE DE QUALIDADE DE DADOS”
                    Felippe Galdino (CHM)</li>
        <li>14:40-10:50	Palestra: “SENSORES E DESENVOLVIMENTO DE TECNOLOGIAS”
                    Natália / Michelle (CHM)</li>
        <li>10:50-11:10		Coffee Break</li>
        <li>11:10-11:35	Palestra: “LINHAS DE FUNDEIO”
                    Dsc. Fábio Nascimento (LIOc/COPPE)</li>
        <li>11:35-12:00	Palestra: “DESAFIOS EM SISTEMAS DE FUNDEIOS EM ÁGUAS RASAS – PROGRAMA SiMCosta”
                    Msc. Ella Soares Pereira (SiMCosta)</li>
        <li>11:30-10:50	Palestra: “SISTEMAS E SOFTWARES UTILIZADOS PELO PNBOIA/REMOBS”
                    Felippe Galdino (CHM)</li>
      <div>
        <h4>SESSÃO 3: Fabricantes e Sistemas</h4>
      </div>
      <div>
        <h4>SESSÃO 4: Encerramento</h4>
      </div>
        <li>15:00-15:15	Palestra: “ESTUDO DA VIABILIDADE DE LINHA DE FUNDEIO PARA ÁGUAS ULTRA PROFUNDAS”
            Dsc André Mendes (CENPES/PETROBRAS)</li>
        <li>15:15-16:10	Mesa Redonda: “COMO UNIR FORÇAS PARA EVOLUIR?”</li>
        <li>16:10-16:20		Encerramento
            Ten. Tobias Ferreira (CHM)</li>
      </ul>
    </div>
	</div>
    </div>
  </div>
</div>
