.picture-container {
  align-items: center;
  justify-content: center;
}

.about-picture {
  vertical-align: middle;
  width: 25%;
  margin: auto;
  padding: 20px 20px 20px 20px;
}

.about-text {
  text-align: center;
}
